* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.rightside {
  width: 100%;
  height: 1676px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}



.v194_8 {
  width: 2px;
  height: 100%;
  background: rgba(233,233,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1031px;
  overflow: hidden;
}
.v194_7 {
  width: 2px;
  height: 100%;
  background: rgba(233,233,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 720px;
  overflow: hidden;
}
.v194_9 {
  width: 2px;
  height: 100%;
  background: rgba(233,233,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1342px;
  overflow: hidden;
}
.v133_20 {
  color: rgba(0,0,0,1);
  position: absolute;
  top: 508px;
  left: 615px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v137_7 {
  width: 52px;
  color: rgba(211,213,223,1);
  position: absolute;
  top: 306px;
  left: 1278px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.v137_8 {
  width: 191px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 350px;
  left: 1044px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v235_16429 {
  width: 309px;
  height: 239px;
  background: url("../images/v235_16429.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 1033px;
  overflow: hidden;
}
.v137_11 {
  width: 40px;
  color: rgba(211,213,223,1);
  position: absolute;
  top: 67px;
  left: 979px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.v137_12 {
  width: 191px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 111px;
  left: 733px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.FlockUpBox {
  width: 309px;
  height: 239px;
  background: url("../images/v235_16426.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 722px;
  overflow: hidden;
}

.FlockUpBox a:hover {
  background-image: aqua;
}

.v133_28 {
  width: 52px;
  color: rgba(211,213,223,1);
  position: absolute;
  top: 784px;
  left: 1278px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.v133_29 {
  width: 191px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 828px;
  left: 1044px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v139_3 {
  width: 309px;
  height: 239px;
  background: url("../images/v139_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 868px;
  left: 1033px;
  overflow: hidden;
}
.v137_3 {
  width: 40px;
  color: rgba(211,213,223,1);
  position: absolute;
  top: 545px;
  left: 979px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.v137_4 {
  width: 191px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 589px;
  left: 733px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v235_16428 {
  width: 309px;
  height: 239px;
  background: url("../images/v235_16428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 629px;
  left: 722px;
  overflow: hidden;
}
.v133_32 {
  width: 52px;
  color: rgba(211,213,223,1);
  position: absolute;
  top: 1262px;
  left: 1278px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.v133_33 {
  width: 234px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1306px;
  left: 1044px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v133_36 {
  width: 57px;
  color: rgba(211,213,223,1);
  position: absolute;
  top: 1023px;
  left: 962px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: right;
}
.v133_37 {
  width: 221px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1067px;
  left: 741px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v235_16450 {
  width: 309px;
  height: 239px;
  background: url("../images/v235_16450.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1107px;
  left: 722px;
  overflow: hidden;
}
.v265_16710 {
  width: 309px;
  height: 239px;
  background: url("../images/v265_16710.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1346px;
  left: 1033px;
  overflow: hidden;
}
.v265_16711 {
  width: 309px;
  height: 239px;
  background: rgba(39,40,40,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v265_16712 {
  width: 124px;
  height: 168px;
  background: url("../images/v265_16712.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 93px;
  overflow: hidden;
}

.leftside a {
  text-decoration: none;
  color:rgba(0,0,0,1);
}

.leftside span {
  position: fixed;
}

.leftside a:hover {
  color:rgb(127, 127, 127);
}

.leftside:visited {
  color:rgba(0,0,0,1);
}

.v1043_116 {
  width: 86px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 105px;
  left: 253px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1043_117 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 105px;
  left: 380px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.kklogoHOME {
  width: 49px;
  height: 42px;
  background: url("../images/v194_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: fixed;
  top: 77px;
  left: 99px;
  overflow: hidden;
}
.v133_19 {
  width: 205px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 416px;
  left: 252px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v194_15 {
  width: 205px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 436px;
  left: 252px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v133_11 {
  width: 332px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 258px;
  left: 249px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v235_16453 {
  width: 205px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 784px;
  left: 253px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgba(211,213,223,1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136);
}