
body a {
    text-decoration: none; 
    font: 14px/1.5 ‘Nunito’, sans-serif;
}

header .row {
padding-top: 10mm;  
padding-left: 30%;
}

header .logo {
    text-transform: uppercase; 
    letter-spacing: .2em;
    font-weight: 700;
    color: #000000;
    text-align: center;
    padding-top: 10mm;
}

main .row {
padding-left: 16%;
padding-top: 10mm;
text-align: center;
align-items: center;
}

.bio {
    text-align: center;
}

footer .container {
    text-align: center;
}