
body a {
    text-decoration: none; 
    font: 14px/1.5 ‘Nunito’, sans-serif;
}

header .row {
padding-top: 10mm;  
padding-left: 20%;
text-align: center;

}

header .logo {
    text-transform: uppercase; 
    letter-spacing: .2em;
    font-weight: 700;
    color: #000000;
    text-align: center;
    padding-top: 10mm;
}

main .row {
    padding-left: 16%;
    padding-top: 10mm;
    text-align: center;
    align-items: center;
}

.bio {
    text-align: center;
}

footer .container {
    text-align: center;
}


/* Fish Animation */

.fish {
    width: 50%;
    height: 50%;
    animation-name: fish-anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes fish-anim {
    0% { 
        padding-left: 0%;

    }

    
    100% {
        padding-left: 200%;
        -webkit-transform: scaleX(-1);
    }

    }


/* Transitions for nav */

    header .row div {
        transition: transform .5s;
    }

    header .row div:hover {
        transform: scale(1.5);

    }


    main .row div {
        transition: transform .5s;
    }

    main .row div:hover {
        transform: scale(1.5);

    }   

    