body {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
    background-color: rgb(25, 32, 28);
}

.nav .row {
        padding-top: 10mm;  
        text-align: center;
}


.row a {
    padding-left: 20mm;
}

html { 
    scroll-behavior: smooth; 
} 


header ul{
    text-transform: uppercase; 
    font-weight: 700;
    padding-top: 10mm;
    padding-bottom: 10mm;
    text-align: center;
    padding-left: 10mm;
    }

    ul li{
        letter-spacing: 1em;
        font-size: 5em;
        color:#0ca752;
        animation: ani .9s infinite;
        display: inline;
    }
    ul li:nth-child(1){
        animation-delay: .2s;
    }
    ul li:nth-child(2){
        animation-delay: .6s;
    }
    ul li:nth-child(3){
        animation-delay: .8s;
    }
    ul li:nth-child(4){
        animation-delay: 1.0s;
    }
    ul li:nth-child(5){
        animation-delay: 1.4s;
    }
    ul li:nth-child(6){
        animation-delay: 1.8s;
    }
    ul li:nth-child(7){
        animation-delay: 1.1s;
    }
    ul li:nth-child(8){
        animation-delay: .8s;
    }
    ul li:nth-child(9){
        animation-delay: 1.18s;
    }
    
    @keyframes ani {
    0%{
        color:#44848;
        text-shadow: none;
    }

    90%{
        color:#44848;
        text-shadow: none;
    }

    100%{
        color:#3fe30e;
        text-shadow: 0 0 7px #3fe30e,0 0 70px #3fe30e;
        }
    }


header .row {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

nav {
	background-color: rgb(32, 44, 34);
	display: flex;
	justify-content: center;
	padding: 1rem;
}

nav li {
	margin: 0 1rem;
}

nav a {
	color: rgb(49, 203, 64);
	text-decoration: none;
    text-transform: uppercase; 

}

nav a:hover {
    color: rgb(187, 255, 0);
}

h6 {
    font-family: 'Khand', sans-serif;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
    color: rgb(58, 133, 66);
}

main h2{
    text-transform: uppercase; 
    letter-spacing: 1mm;
    font-weight: 700;
    color: rgb(49, 203, 64);
    padding-top: 10mm;
    padding-bottom: 10mm;

    font-weight: 700;
}

section {
	margin-bottom: 2rem;
    
}


strong {
    color: rgb(49, 203, 64);
    text-transform: uppercase; 
}

section h2 {
	margin-top: 0;
}

.photo-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

.photo-grid img {
	max-width: 100%;
}

footer {
	text-align: center;
	padding: 1rem;
    padding-bottom: 10mm;
}



footer .button {
    background-color: rgb(49, 203, 64); 
    border: 1px  rgb(13, 255, 0); 
    color: rgb(32, 44, 34);
    transition: .3s all ease; 
    text-transform: uppercase; 
    font-weight: 800;
    letter-spacing: .15em; 

    
}

footer .button:hover {
    background-color: rgb(187, 255, 0);
}


/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(49, 203, 64); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(187, 255, 0);
  }