.leftside{
	position: fixed;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.rightside{
	float: left;
	border-style: solid;
	border-width: 0px 2px 0px 2px;
	border-color: rgba(233,233,233,1);
}

.navbar{
	margin-top: 5.05vw;
	
}

.logo{
	max-width: 2.552vw;
	margin-left: 3vw;
}

@media (max-width: 1200px){
	.logo{
		max-width: 3.0624vw;
	}
}

@media (max-width: 575px){
	.logo{
		max-width: 5vw;
		margin-left: 0vw;
	}
}

.navigation{
	text-align: left;
	padding: 0px;
	font-family: Inter;
	font-weight: Bold;
	font-size: 0.833vw;
}

@media (max-width: 1200px){
	.navigation{
		font-size: 1vw;
	}
}

@media (max-width: 575px){
	.navigation{
		font-size: 2vw;
	}
}

.navigation a{
	text-decoration: none;
	color: #000000;
	padding-right: 2vw;
}

@media (max-width: 575px){
	.navigation a{
		padding-right: 1vw;
	}
}

.navigation a:hover{
	color: rgb(127, 127, 127);
}

.name{
	font-family: Inter;
	font-weight: Bold;
	font-size: 3.333vw;
	line-height: 4.2vw;
}

@media (max-width: 1200px){
	.name{
		font-size: 4vw;
	}
}

.maintext{
	color: rgba(0,0,0,1);
	font-family: Open Sans;
	font-weight: Light;
	font-size: 0.729vw;
	opacity: 1;
	text-align: center;
}

@media (max-width: 1200px){
	.maintext{
		font-size: 0.8748vw;
	}
}

@media (max-width: 575px){
	.maintext{
		font-size: 1.7496vw;
	}
}


.webname{
	font-family: Open Sans;
	font-weight: Regular;
	font-size: 0.833vw;
	color: rgba(165,165,165,1);
}

@media (max-width: 1200px){
	.webname{
		font-size: 1vw;
	}
}

@media (max-width: 575px){
	.webname{
		font-size: 2vw;
	}
}

.portimg{
	margin: 0px;
	padding: 0px;
}

.portimg img{
	padding: 0px;
	width: 100%;
}

.porttext{
	width: 100%;
	align-self: flex-end;
	margin-top: 5.05vw;
}

.disp-margin{
	margin-top: 2.250vw;
}

.top-padding{
	padding-top: 2.250vw;
}

.lefttext{
	color: rgba(0,0,0,1);
	font-family: Inter;
	font-weight: Bold;
	font-size: 0.833vw;
	opacity: 1;
	text-align: left;
}

@media (max-width: 1200px){
	.lefttext{
		font-size: 1vw;
	}
}

@media (max-width: 575px){
	.lefttext{
		font-size: 2vw;
	}
}

.number{
	color: rgba(211,213,223,1);
	font-family: Inter;
	font-weight: Bold;
	font-size: 3.333vw;
	margin-left: 4vw;
}

@media (max-width: 1200px){
	.number{
		font-size: 4vw;
		margin-left: 1.6vw;
	}
}
@media (max-width: 575px){
	.number{
		font-size: 8vw;
		margin-left: 5vw;
	}
}

.content{
	text-align: left;
	padding-top: 6.71875vw;
	padding-bottom: 16.875vw;
}

@media (max-width: 575px){
	.content{
		border-style: solid;
		border-width: 0px 0px 2px 0px;
		border-color: rgba(233,233,233,1);
	}
}

@media (max-width: 1200px){
	.border_bottom{
		border-style: solid;
		border-width: 0px 0px 2px 0px;
		border-color: rgba(233,233,233,1);
	}
}

.border_left{
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: rgba(233,233,233,1);
}

.border_right{
	border-style: solid;
	border-width: 0px 2px 0px 0px;
	border-color: rgba(233,233,233,1);
}

.top-padding{
	padding-top: 5.05vw;
}

::-webkit-scrollbar {
    width: 1.042vw;
}

::-webkit-scrollbar-thumb {
    background: rgba(211,213,223,1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136);
}